* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: stretch;
}

main {
  flex: 8;
  background-color: #121212;
  color: white;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.sidebar li {
  list-style-type: none;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
