* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: stretch;
}

main {
  flex: 8;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
