* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: stretch;
}

main {
  width: 85%;
  left: 15%;
  background-color: #121212;
  color: white;
  position: absolute;
}

nav {
  height: 100%;
  width: 15%;
  position: fixed;
  background-color: white;
  text-align: center;
}

.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar-content li {
  list-style-type: none;
}

.section-container {
  height: 100vh;
}
